github "lachlanbell/SwiftOTP" ~> 3.0.0
github "hmlongco/Resolver" ~> 1.5.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" ~> 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json" ~> 8.15.0
